root@home # cat /etc/systemd/system/multi-user.target.wants/docker.service 
[Unit]
After=mnt-Volumes-Media.mount
# ConditionPathExists=/Volumes/Media/TV
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network-online.target docker.socket firewalld.service containerd.service time-set.target
Wants=network-online.target containerd.service
Requires=docker.socket
...
